* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fbfbfb;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 30px;
    color: #403866;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 900;
    margin-bottom: 15px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.form-container {
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.form-container .form-control {
    color: #403866;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 62px;
    padding: 0 20px 0 38px;
    border-radius: 0;
    border: 1px solid transparent;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-bottom: 5px;
}

.form-container .form-group .help-block {
    color: darkred;
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.form-container .form-control:focus {
    border-color: #403866;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(64, 56, 102, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(64, 56, 102, .6);
}

.form-container .btn {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 62px;
    background-color: transparent;
    border-radius: 3px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border: 1px solid transparent;
    outline: 0;
    cursor: pointer;
}

.form-container .btn.btn-primary {
    background-color: #827ffe;
    border-color: #827ffe;
}


.form-container .btn.btn-primary:hover {
    background-color: #403866;
}

.form-container .btn-link {
    font-size: 16px;
    color: #827ffe;
    line-height: 1.4;
    text-align: right;
    display: block;
    margin-bottom: 20px;
}

.content-section {
    margin: 20px 0;
}

.content-section .username {
    text-align: right;
    font-size: 16px;
}

.content-section .username a {
    color: #827ffe;
    text-align: right;
}

.content-section table {
    width: 100%;
    margin: 20px 0px;
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
}

.content-section table thead tr {
    color: #fff;
    background: #6c7ae0;
}

.content-section table tr th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: left;
}

.content-section table tbody tr {
    background: #fff;
}

.content-section table tr td {
    font-size: 15px;
    color: #666;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;

}

table tr th:first-child, table tr td:first-child {
    padding-left: 15px;
}

.main-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #2f333e;
    color: #fff;
    padding: 20px 10px;
    left: 0;
}

footer.main-footer p {
    text-align: center;
    font-size: 0.8em;
}


.alert {
    padding: 10px;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        width: 400px;
        display: table;
        margin: 10px auto;
        font-size: 12px;
        text-align: center;
}

.alert.alert-danger {
    background-color: #f44336;
}

.alert.alert-success {
    background-color: #4CAF50;
}

.alert.alert-info {
    background-color: #2196F3;
}

.alert.alert-warning {
    background-color: #ff9800;
}
